.iframe-navegation-bar {
  width: 100%;
  height: 5.8125rem;
}

.iframe-progress-bar {
  width: 100%;
  height: 5rem;
}

.iframe-transfer-start {
  width: 100%;
  height: 18rem;
  margin-top: 0.5rem;
}

.iframe-st-1 {
  width: 100%;
  height: 22rem;
  margin-top: 2rem;
}

.iframe-st-2{
  width: 100%;
  height: 22rem;
  margin-top: 2rem;

}

.iframe-st-3{
  width: 100%;
  height: 16rem;
  margin-top: 2rem;

}

.heading {
  color: #000;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

#next-btn {
  width: 17.813rem;
  height: 3.209rem;
  border-radius: 0.535rem;
  background: #311b92;
  position: fixed;
  bottom: 1.916rem;
}

#next-btn:hover {
  background: #311bff;
}

.next-text {
  color: #fff;
  font-family: Montserrat;
  font-size: 0.909rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* visibilidad de secciones */

#progressbarsect {
  display: block;
}

#transferstartsect {
  display: none;
}

#buttonsect {
  display: block;
}

#st1sect{
  display: none;
}

#st2sect{
  display: none;
}

#st3sect{
  display: block;
}