.img-login {
  margin-top: 3.58rem;
}

.login {
  margin-top: 7.063rem;
}

.bg-user-email {
  border-radius: 0.625rem;
  background: #303f9f33;
  height: 3.125rem;
}

.bg-pass {
  border-radius: 0.625rem;
  background: #f7f7f7;
  height: 3.125rem;
}

.icon {
  position: absolute;
  top: calc(50% - 0.8rem);
  left: 0.5rem;
}

.form-group {
  position: relative;
}

.form-group .form-control {
  left: 0.5rem;
  padding-left: 3rem;
}

.text-1 {
  text-align: end;
  margin-top: 1;
}

.btn-login {
  background: #311b92;
  border-radius: 0.625rem;
  margin-top: 3.75rem;
  transition: background-color 0.3s ease;
}
.btn-login:hover {
  background: #311bcd;
}

.text-2 {
  text-align: center;
  margin-top: 1.313rem;
}

.text-3 {
  color: #1c1939cc;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: 0.938rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.563rem;
}
