<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wibond</title>
    <!-- Add Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <!-- Add custom CSS -->
    <link rel="stylesheet" href="st4.css">
    <!-- Add icon Fontawesome -->
    <script src="https://kit.fontawesome.com/6d3ed19a44.js" crossorigin="anonymous"></script>
    <!-- Fonts -->
    <!-- ------------------------------------------------------------------------------ -->
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
    <div class="container">
        <div class="row mx-0">
            <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-start">
                <h2 class="heading">Necesitamos que autorices la transferencia.</h2>
            </div>
        </div>
        <div class="row mx-0">
            <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-start">
                <h2 class="heading">Elegí a donde preferis recibir tu código de verificación.</h2>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
                <button type="button" class="btn btn-outline-secondary w-75">
                    <i class="fa-regular fa-envelope mx-2"></i>Email</button>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
                <button type="button" class="btn btn-outline-primary w-75">
                    <i class="fa-brands fa-whatsapp mx-2"></i>Whatsapp</button>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
                <button type="button" class="btn btn-outline-secondary w-75">
                    <i class="fa-brands fa-whatsapp mx-2"></i>SMS</button>
            </div>
        </div>
    </div>
    <!-- --------------------------------------------------------------------------------------------- -->
    <!-- Add Bootstrap JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>