/* SECTION 2 */
.card-available-money-2 {
  width: 19.438rem;
  height: 12.3;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #5252ff;
}

#transferamount {
  height: 3.375rem;
  width: 12.75rem;
  background-color: #5252ff;
  color: #fff;
  border-radius: 5%;
  font-size: 2.813rem;
  border: none;
  outline: none;
}

#transferamount::placeholder {
  color: white;
}

#labelamount {
  color: #fff;
  font-size: 2.813rem;
}

.text-impuesto-1 {
  text-align: start;
  justify-content: center;
  padding: 0.72rem;
}
.text-impuesto-2 {
  text-align: end;
  justify-content: end;
  padding: 0.75rem;
}

.card-title {
  color: #fff;
  font-family: Lato;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 5;
}

.card-header {
  border: none;
}

.card-text {
  color: #fff;
  font-family: Lato;
  font-size: 1.563rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 5;
}

.box-title-group-list {
  width: 19rem;
  height: 2.563rem;
  border-radius: 0.625rem 0.625rem 0rem 0rem;
  background: #1f1f1f;
}
.text-title-group-list {
  color: #fff;
  font-family: Montserrat;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.box {
  width: 19rem;
  height: 4rem;
  flex: content;
  justify-content: center;
}

.text {
  color: #4d4d4d;
  font-family: Montserrat;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 0.5rem;
}

.bg-taxes {
  border-radius: 0.625rem;
  background: #303f9f33;
  width: 19.6875rem;
  height: 2.1875rem;
}

.bg-msg {
  border-radius: 0.625rem;
  background: #f7f7f7;
  width: 19.6875rem;
  height: 2.1875rem;
  padding-left: 1rem !important;
}

.input-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.icon-edit {
  position: absolute;
  top: 0.625rem;
  left: 280px;
}

.form-group {
  position: relative;
}

.form-group .form-control {
  left: 0.5rem;
  padding-left: 3rem;
}

.icon {
  position: absolute;
  top: calc(50% - 0.8rem);
  left: 0.5rem;
}
