/*The background card*/
.card {
  z-index: 0;
  border: none;
  position: relative;
}

/*Icon progressbar*/
#progressbar {
  margin-bottom: 1.875rem;
  overflow: hidden;
  color: lightgrey;
}

#progressbar .active {
  color: #02bc8a;
}

#progressbar li {
  list-style-type: none;
  font-size: 0.938rem;
  width: 6.3rem;
  float: left;
  position: relative;
  font-weight: 400;
}

/*Icons in the ProgressBar*/
#progressbar #firststep:before {
  font-family: FontAwesome;
  content: "\f304";
}

#progressbar #secondstep:before {
  font-family: FontAwesome;
  content: "\f141";
}

#progressbar #thirdstep:before {
  font-family: FontAwesome;
  content: "\f141";
}

/*Icon ProgressBar after progress*/
#progressbar #firststep.completed:before,
#progressbar #secondstep.completed:before,
#progressbar #thirdstep.completed:before {
  content: "\f00c";
}

#progressbar #firststep.active:before,
#progressbar #secondstep.active:before,
#progressbar #thirdstep.active:before {
  content: "\f304";
}

/*Icon ProgressBar before any progress*/
#progressbar li:before {
  width: 3.125rem;
  height: 3.125rem;
  line-height: 2.813rem;
  display: block;
  font-size: 1.25rem;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 0.625rem auto;
  padding: 0.125rem;
}

/*ProgressBar connectors*/
#progressbar li:after {
  content: "";
  width: 100%;
  height: 0.125rem;
  background: lightgray;
  position: absolute;
  left: 1;
  top: 1.563rem;
  z-index: -1;
}

/* Ocultar la línea del tercer elemento */
#progressbar li:nth-child(3):after {
  display: none;
}

/* Color number of the step and the connector before it */
#progressbar li.active:before {
  background: #507cdd;
}

#progressbar li.completed::before {
  background: #02bc8a;
}

#progressbar li.completed:after {
  /* background: lightgray; */
  background: #02bc8a;
}

/* Animated Progress Bar */
.progress {
  height: 1.25rem;
}

.progress-bar {
  background-color: #02bc8a;
}

/*Fit image in bootstrap div*/
.fit-image {
  width: 100%;
  object-fit: cover;
}

