.wibond-img {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 0rem;
  margin-left: 0rem;
}

.wibond-logo {
  padding-top: 0rem;
  padding-right: 0.2rem;
  margin-right: 0rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

/* back button */
#back-btn {
  border: none;
}
